In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("01-Ad.csv")

In [3]:
print(df)

     UserID  Gender Type  Age  EstimatedSalary  Purchased
0         1    Male    B   24          2800000          0
1         2    Male    A   48          3000000          0
2         3  Female    B   34          7800000          0
3         4  Female    B   36         10700000          0
4         5    Male    D   24         14700000          0
..      ...     ...  ...  ...              ...        ...
395     396  Female    A   65          7400000          1
396     397    Male    C   73          3700000          1
397     398  Female    B   72          3000000          1
398     399    Male    D   50          5700000          0
399     400  Female    B   70          6400000          1

[400 rows x 6 columns]

# OneHotEncoder
Encode be soorate Onehot
hamoon 0010, 0100, och in<br>
aval miaim yeki az sotun haro dropp mikonim
aksaran aval mian avali ya akhari ro bar midaran
ejbari hast

vaghty yekisho drop kardi mishe Dummy Variables

In [8]:
 # raveshe aval ba pandas
transformed_type = pd.get_dummies(df.loc[:,"Type"],prefix="Type",drop_first=True)
print(transformed_type)

     Type_B  Type_C  Type_D
0      True   False   False
1     False   False   False
2      True   False   False
3      True   False   False
4     False   False    True
..      ...     ...     ...
395   False   False   False
396   False    True   False
397    True   False   False
398   False   False    True
399    True   False   False

[400 rows x 3 columns]

In [12]:
from sklearn.preprocessing import OneHotEncoder
encoder_type1 = OneHotEncoder(sparse_output=False)
#hatman bayad begim spars= False vagarna khorujish ghati pati mishe
encoder_type1.fit_transform(df.loc[:,["Type"]])

array([[0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       ...,
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.]])